:root {
    /* colors */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: rgb(0, 255, 247);
    /* (main BG) */
    --very-dark-blue-main: hsl(217, 54%, 11%);
    /* (card BG) */
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    /* (line) */
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /* Font */
    --fs-paragraph: 18px;
    --ff-Outfit: 'Outfit', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   background: var(--very-dark-blue-main);
    font-family: var(--ff-Outfit);
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container {
      color: var(--white);
    padding: .8em 1em;
    border-radius: 15px;
    background: var(--Very-dark-blue-card);
    width: 310px;
    
}

.card-img {
    height: 280px;
    border-radius: 10px;
    background-image: url(./images/image-equilibrium.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-img:hover {
    background-color: rgba(0, 255, 247, 0.7);
    background-image: url(./images/image-equilibrium.jpg), url(/images/icon-view.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-blend-mode: lighten;
    cursor: pointer;

}

h2 {
    padding: 20px 0;
}

h2:hover,
span:hover {
    color: var(--cyan);
    cursor: pointer;
}

p {
    color: var(--soft-blue);
    font-size: var(--fs-paragraph);
    padding-bottom: 20px;
    padding-right: 30px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.icon {
    margin-right: 4px;
}

.ethereum {
    color: var(--cyan);

}

.line {
    color: var(--very-dark-blue-line);
}

.creator {
    display: flex;
    justify-content: start;
    align-items: end;

}

.creator img {
    width: 40px;
    padding: 1px;
    background-color: var(--white);
    border-radius: 50%;
}

.name {
    padding: 25px 0 10px 15px;

}

span {
    color: var(--white);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--white);
 
}

.attribution a {
    color: var(--white);
}

}
